name: Golangci-Lint

on:
  push:
    branches:
    - master
  pull_request:
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.0.1

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.20.x
          skip-pkg-cache: true

      - run: go mod vendor

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.53
          skip-pkg-cache: true
